@charset "utf-8";
/* CSS Document */
/*----------------
RESET CSS
-----------------*/
body {
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	padding:0;
	background:#fff;
	color:#000000;
	text-align:center;
	font-weight: normal;
	}
div, ul, h1, h2, h3, h4, h5, li, p, img, form, input, textarea {margin:0;padding:0;}
header, section, footer, aside, nav, main, article, figure {display: block;}
table, tr, td {border:0;}
a{outline: none; color:inherit; text-decoration:none;}
a:hover {}
img {border:none;}
li {list-style:none;}
*{box-sizing:border-box;}
.img-full{max-width:100%;}
.clearall{
	clear:both;
	font-size:1px;
	line-height:1px;
	height:1px;
	}
.forMob,.forTab{ display:none ;}



/*-----------------------
MAIN CSS START
------------------------*/
.container {
	width:1030px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	}

.sec1{
	float:left;
	width:100%;
	background:url(../images/step-bg.jpg) no-repeat center top;
	padding:12px 0;
	}
.logo{
	display:inline-block;
	vertical-align:middle;
	}
.s1-Box{
	width:100%;
	background:rgba(255,255,255,0.85);
	border-radius:30px;
	margin-top:10px;
	box-shadow:3px 3px 25px 1px rgba(233,168,0,0.34);
	padding:35px;
	}
.quiz-Box{
	width:100%;
	}
.back-btn{
	float:left;
	font-size:16px;
	line-height:24px;
	color:#dddddd;
	cursor:pointer;
	}
.back-btn-actv{
	color:#00aeef;
	}
.back-btn svg{
	display:inline-block;
	vertical-align:middle;
	margin:-2px 2px 0 0;
	width:12px;
	color:#dddddd;
	fill: #ddd;
	}
.back-btn-actv svg{ color:#00aeef;fill: #00aeef;}
.qstn-no{
	float:right;
	font-size:16px;
	line-height:24px;
	color:#dddddd;
	}
.qstn-no span{ color:#00aeef;}
.qsn-hdng{
	float:left;
	width:100%;
	font-size:30px;
	line-height:35px;
	color:#0c426d;
	font-weight:bold;
	margin-top:20px;
	letter-spacing:0.5px;
	}
.quiz-optnBx {
    width: 100%;
	margin-top:20px;
	margin-bottom:40px;
	}
	.optBtn {
		display: inline-block;
		vertical-align: middle;
		width: 150px;
		height: 150px;
		margin: 0 10px;
		}
		.optBtn2 {
			display: inline-block;
			vertical-align: middle;
			width: 150px;
			height: 120px;
			margin: 0 10px;
			}
.optBtn input[type=radio],.optBtn input[type=checkbox] {
    position: absolute;
    left: 0;
    opacity: 0;
	}
.optBtn input[type=radio] + p,.optBtn input[type=checkbox] + p {
	float: left;
    width: 100%;
    height: 100%;
	cursor: pointer;
	border:1px solid #e8edf1;
	border-radius:10px;
	box-shadow:0 0 9px 1px rgba(0,0,0,0.1);
	text-align:center;
	background:#fff;
	transition:all ease 0.2s;
	font-size: 19px;
    line-height:24px;
    color: #0c426d;
    padding:0 10px;
	}
.optBtn input[type=radio]:checked + p, .optBtn input[type=radio] + p:hover, .optBtn input[type=checkbox]:checked + p, .optBtn input[type=checkbox] + p:hover{
    color: #fff;
    background: #00aeef;
	}
.optBtn input[type=radio] + p span,.optBtn input[type=checkbox] + p span{
	display:block;
	margin:-10px auto 20px;
	width:40px;
	height:40px;
	background:#00aeef;
	border:2px solid #0cd3f8;
	border-radius:50%;
	color:#fff;
	font-size:20px;
	line-height:35px;
	font-weight:bold;
	box-shadow:0 0 9px 1px rgba(0,0,0,0.1);
	}
.optBtn input[type=radio]:checked + p span, .optBtn input[type=radio] + p:hover span,.optBtn input[type=checkbox]:checked + p span, .optBtn input[type=checkbox] + p:hover span{
    color: #00aeef;
    background: #fff;
	border:2px solid #fff;
	}
.count-page{
	float:left;
	width:100%;
	text-align:center;
	}
.count-page span{
	display:inline-block;
	vertical-align:middle;
	width:35px;
	height:35px;
	border:1px solid #e4f4fa;
	border-radius:50%;
	line-height:33px;
	color:#dddddd;
	font-size:16px;
	font-weight:bold;
	margin:0 5px;
	}
.count-page span.active{ color:#00aeef;}
.chose-txt{
	float:left;
	width:100%;
	font-size:24px;
	line-height:30px;
	color:#0c426d;
	letter-spacing:0.5px;
	margin-top:15px;
	}
.quiz-optnBx2{
	width:calc(100% + 40px); margin-left:-20px;
	margin-bottom:40px;
	}
.quiz-optnBx2 .optBtn{ margin:0 5px;}
.quiz-optnBx3{ margin-bottom:40px;}
a.submit-btn{
	display:inline-block;
	vertical-align:middle;
	width:330px;
	max-width:100%;
	height:58px;
	font-size:26px;
	font-weight:bold;
	color:#fff;
	line-height:57px;
	background:#0c426d;
	border-radius:40px;
	margin-bottom:30px;
	letter-spacing:0.5px;
	box-shadow:1px 1px 9px 1px rgba(0,0,0,0.1);
	}


/*-----------------------
CSS FOR FOOTER
------------------------*/
.footer{
	float:left;
	width:100%;	
	background:#fff;
	text-align:center;
	padding:40px 0;
	font-size:16px;
	color:#333333;
	letter-spacing:0.35px;
	}	
.ftr-para{ 
	line-height:25px;
	margin:25px 0;
	padding:0 50px;
	}
.ftr-addtxt1{ line-height:25px;}			
.ftr-link{ margin-top:20px;}	
.ftr-link a{ color:#333; padding:0 4px;}



/*==========footer===================*/
.footer{
	float:left;
	width:100%;
	padding:30px 0;
	text-align:center;
	}
.ftr-txt1{
	float:left;
	width:100%;
	font-size:16px;
	line-height:30px;
	color:#4c4c4c;
	}
.ftr-txt1 a{ color:#4c4c4c; font-size:16px; padding:0 5px;}


/*==============Media=============*/


@media only screen and (min-width:800px){
	h1 {
		font-size: calc(0.500rem + 1.5vw);
	}
}
@media only screen and (max-width:1047px){
.container{ width:1004px;}

.s1-Box{ padding:30px 25px;}


}

@media only screen and (max-width:1021px){
.container{ width:750px;}
.forDesk{ display:none;}

.s1-Box{ padding:30px 20px;}
.quiz-optnBx{ margin:10px 0;margin-bottom:30px}
.quiz-optnBx2{ margin:25px 0;}
.quiz-optnBx2{ width:100%;}
.quiz-optnBx2 .optBtn {margin: 15px 8px;}
.optBtn{width: 128px;height: 130px;margin:5px 5px;}
.optBtn2{width: 128px;height: 120px;margin:5px 5px;}
.optBtn input[type=radio] + p, .optBtn input[type=checkbox] + p{font-size: 17px;line-height: 22px;padding: 0 5px;}

}


@media only screen and (max-width:767px){
.container{ width:100%; max-width:600px; padding:0 10px;}
.hide-mob{ display:none;}
.forMob{ display:block;}
.titledual {
	margin-top: 15px
}
.below-image {
	font-size:100%!important
}
#main-title{
	margin-top:20px
}
.sec1{ padding:15px 0 30px;}
.s1-Box{ border-radius:20px; padding:5px 15px;margin-top: 10px;}
.qsn-hdng{font-size: 24px;line-height: 30px;margin-top: 3px;}
.quiz-optnBx{ margin:15px 0;}
.optBtn{ width:100%; height:auto; margin:5px 0;}
.quiz-optnBx2 .optBtn{width:100%; height:auto; margin:5px 0;}
.optBtn input[type=radio] + p, .optBtn input[type=checkbox] + p{ padding:0 8px; text-align:left;font-size: 16px; height:50px; line-height:50px;}
.optBtn input[type=radio] + p span, .optBtn input[type=checkbox] + p span{
	display:inline-block;
	vertical-align:middle;
	margin:-5px 7px 0 0;
	text-align:center;
	width: 35px;
    height: 35px;
	font-size: 16px;
    line-height: 30px;
	}
.chose-txt{font-size: 20px;line-height: 26px;margin-top: 3px;}
	
	
.footer{}
.ftr-para {line-height: 24px;margin: 10px 0;padding: 0;}
.ftr-link {margin-top: 10px;}

}
